<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ask the Internet</title>
  <meta name="description" content="Ask the Internet... anything">
  <meta name="author" content="Felix Jung">
  <meta name="viewport" content="width=device-width, initial-scale=1">




  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="@underviewed"> 
  <meta name="twitter:title" content="Underviewed: Real life, seldom seen."> 
  <meta name="twitter:description" content="Searching YouTube for underviewed videos, using the default filenames of cameras and mobile devices. Giving you a glimpse of the seldom seen. Home of the next viral video."> 
  <meta name="twitter:creator" content="@underviewed"> 
  <!-- Twitter Summary card images must be at least 200x200px --> 
  <meta name="twitter:image" content="http://underviewed.com/img/felixIsAwesome.jpg">

  <!-- Open Graph data --> 
  <meta property="og:title" content="Underviewed: Real life, seldom seen." /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="http://underviewed.com/" />
  <meta property="og:image" content="http://underviewed.com/img/felixIsAwesome.jpg" />
  <meta property="og:description" content="Searching YouTube for underviewed videos, using the default filenames of cameras and mobile devices. Letting you take a glimpse of the seldom seen. Home of the next viral video." />
  <meta property="og:site_name" content="Underviewed" /> 






	
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/styles.css">

  <!--link rel="icon" type="image/png" href="images/favicon.png"-->
</head>
  <body class="<%= authStatus %>">
    <div id="main"></div>




  
    <script type="text/javascript" src="/js/index-min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
  </body>
</html>