<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>I am the Internet: AMA</title>
  <meta name="description" content="Hi there. You might not recognize me, but I'm the Internet. And you can ask me anything.">
  <meta name="author" content="Felix Jung">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Twitter Card data --> 
  <meta name="twitter:card" content="summary"> 
  <meta name="twitter:site" content="@theinternetama"> 
  <meta name="twitter:title" content="I Am the Internet: AMA"> 
  <meta name="twitter:description" content="Hi there. You might not recognize me, but I'm the Internet. And you can ask me anything. I try to answer your questions as best I can. Sorry in advance for all the typos."> 
  <meta name="twitter:creator" content="@theinternetama"> 
  <!-- Twitter Summary card images must be at least 200x200px --> 
  <meta name="twitter:image" content="http://www.i-am-the-internet.com/img/twitterSummaryCard.jpg">

  <!-- Open Graph data --> 
  <meta property="og:title" content="I am the Internet: AMA" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="http://www.i-am-the-internet.com/" />
  <meta property="og:image" content="http://www.i-am-the-internet.com/img/twitterSummaryCard.jpg" />
  <meta property="og:description" content="Hi there. You might not recognize me, but I'm the Internet. And you can ask me anything. I try to answer your questions as best I can. Sorry in advance for all the typos." />
  <meta property="og:site_name" content="I am the Internet: AMA" /> 

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="img/favicon.png">
</head>
  <body class="<%= authStatus %>">
    <div id="main"></div>
    <script type="text/javascript" src="/js/index-min.js"></script>
    <script type="text/javascript" src="/js/animate.js"></script>
  </body>
</html>