@import url('https://fonts.googleapis.com/css?family=Raleway');

a, a:hover {
  text-decoration: none;
}
 

body {
  font-family: 'Raleway', sans-serif;
  background-color: #111;
  // background-image: url('/img/footer_lodyas.png')
}
#main {
  padding-top: 0;
}

header {
  // height: 30px;
  height: 3rem;
  border-bottom: 2px solid #333;
}

.topnav-container {
  width: 100%;
  color: #33ccff;
}

.topnav {
  text-align: right;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 0;
    margin-top: 0.3rem;
  }
}




.futureView {
  position: relative;
}

.futureView canvas {
  background-color: #000;
  margin: 0 auto;
  display: block;
  z-index: 1;

  height: 30rem;
}

.futureView #prophecy {
  position: absolute;
  left: 5%;
  right: 5%;    

  font-size: 3rem;
  line-height: 3.6rem;
  color: #fff;
  z-index: 100;
  height: 30rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: 400px) {
    left: 5%;
    right: 5%;    
    font-size: 3rem;
    line-height: 3.6rem;
  }

  @media (min-width: 550px) {
    left: 10%;
    right: 10%;       
    font-size: 3rem;
    line-height: 3.6rem;
  }


  @media (min-width: 750px) {
    font-size: 4rem;
    line-height: 4.5rem;      
  }
}


.futureView #prophecy.blurry {
   color: transparent;
   text-shadow: 0 0 6px rgba(255,255,255,0.9);
}

.centered {
  text-align: center;
}

.base {
  border-top: 2px solid #333;
  padding-top: 5px;
}


.button-ask {
  font-size: 1.3rem;
}

.button-fortune {
  font-size: 1.1rem;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.interface {
  padding-top: 1rem;
}

.askText {
  max-width: 425px;
  margin-right: 0.5rem;
  width: 50%;

  @media (min-width: 400px) {
    width: 50%;
  }

  @media (min-width: 550px) {
    width: 50%;
  }


  @media (min-width: 750px) {
    width: 50%;
  }
}



.shareLink {
  // float: left;
  text-align: center;
  margin: 0.7rem auto;
  color: #eee;
  opacity: 0.8;
  font-size: 1.1rem;
  // margin: 0.7rem 0 0 1.5rem;

  a:hover {
    text-decoration: underline;
  }

  @media (min-width: 550px) {
    font-size: 1.4rem;
    opacity: 0.5;
  }  
}

.sharePrompt:before {
  content: '';

  @media (min-width: 420px) {
   content: 'Share: '
  }  
}



.sharePrompt {
  color: #ccc;
  opacity: 1;
}










.login {
  margin-top: 4rem;
}



.twitter-login {
  font-size: 1.5rem;
  padding: 0 2.5rem 0 1rem;
}

.icon-twitter:before {
  padding-right: 1rem;
  margin-right: 2rem;
  border-right: 1px solid #eee;
}

.socialnav ul, 
.mininav ul {
  margin: 0;
}


.socialnav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
}



.mininav {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  color: #fff;
  z-index: 101;
}


.nav-items {
  list-style: none;

  li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-size: 2.3rem;    

    @media (min-width: 400px) {
      font-size: 2.3rem;
    }

    @media (min-width: 550px) {
      font-size: 2rem;
    }

    @media (min-width: 750px) {
      font-size: 2rem;
    }
  }

  [class^="icon-"] {
    opacity: 0.2;
  }
  
  [class^="icon-"].lit {
    opacity: 1;
  }      
}

// Not all icons have hover states when muted. Explicitly list them.
.icon-volume-off { cursor: pointer}

// All icons have hover when lit
.lit:before {
  cursor: pointer;
}



// About

.about {
  margin-top: 1rem;
  color: #eee;
  a, a:hover {
    text-decoration: underline;
  }


  h4 { color: #00C2FF;}

}



// Utility
.hidden {
  // display: none;
  opacity: 0;
}

.back {
  float: right;
}




